@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: 1px solid #C7CDD1;
  padding: 1rem 0;
}

.footer__container {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 14rem;
}

.footer__container a {
  color: #2D3B45;
  margin: 0 1.5rem;
  text-decoration: none;
}

.footer__container a:hover {
  text-decoration: underline;
  color: #98002E;
}

.mark {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mark__body {
  width: 75%;
}

.mark__body h1 {
  font-size: 1.5rem;
  color: #13294b;
}

.mark__body__table {
  margin-top: 1rem;
  width: 90%;
}

.mark__body__table .header {
  border-bottom: 2px solid #C7CDD1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0;
}

.mark__body__table .header h2 {
  width: 25%;
  padding: 0 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #13294b;
}

.mark__body__table .markitems {
  margin: 0.875rem 0;
  border-bottom: 2px solid #C7CDD1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.875rem;
}

.mark__body__table .markitems h3 {
  font-size: 1rem;
  color: #13294b;
  width: 25%;
  padding: 0 1rem;
  margin: 0 auto;
}

.mark__body__table .markitems:last-child h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.mark__body__table .markitems:last-child h3:nth-child(2), .mark__body__table .markitems:last-child:last-child h3:nth-child(3) {
  visibility: hidden;
}

.mark__right {
  width: 25%;
  height: 31.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mark__right h2 {
  font-size: 1rem;
  color: #13294b;
}

.mark__right button {
  height: 2.25rem;
  width: 8.75rem;
  font-size: 1rem;
  border: 1px solid #C7CDD1;
  border-radius: 0.25rem;
  background: #F2F2F2;
  color: #13294b;
}

.mark__right__table {
  margin-top: 1rem;
  width: 100%;
}

.mark__right__table .header {
  border-top: 2px solid #C7CDD1;
  border-bottom: 2px solid #C7CDD1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 0;
}

.mark__right__table .header h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #13294b;
}

.mark__right__table .weightitems {
  margin: 0.875rem 0;
  border-bottom: 2px solid #C7CDD1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.875rem;
}

.mark__right__table .weightitems h3 {
  font-size: 1rem;
  color: #13294b;
}
/*# sourceMappingURL=Mark.css.map */