@import "../../common/commonScss.scss";

.courseIntro {
    margin-left: 13.2rem;

    &-title {
        display   : block;
        text-align: center;
        font-size : 1.875rem;
        color     : rgba(0, 0, 0, 0.1);
        margin    : 1rem auto;
        width     : 100%;
        margin    : 4rem 0 0 1rem;

        h4 {
            color    : $fontColorSmaill;
            font-size: 1.5rem;
            position : relative;
            top      : -1.25rem;
        }
    }

    &-header {
        display      : flex;
        width        : 100%;
        height       : 4rem;
        border-bottom: 1px solid $border;
        padding      : 0 1rem;

        a {
            text-decoration: none;

            &:hover {
                color          : $linkColor;
                text-decoration: underline;
            }
        }

        h4,
        a,
        span {
            display  : inline-block;
            font-size: 0.875rem;
            color    : $fontColorSmaill;
            margin   : 1.5rem 0.25rem;
        }
    }

    &-overview {
        display        : flex;
        justify-content: space-around;
        width          : 70%;
        padding        : 2rem;
        margin         : 0 auto;

        &__left {
            height               : 16rem;
            width                : 42rem;
            display              : flex;
            flex-direction       : column;
            justify-content      : space-around;
            align-items          : center;
            border-radius        : 1rem;
            background           : url(../Emrollment/course-sample.jpg) rgba(0, 71, 171, .3);
            background-size      : cover;
            background-blend-mode: multiply;

            h1 {
                font-size: 2.5rem;
                color    : white;
            }

            h3 {
                font-size: 1rem;
                color    : white;
            }

            button {
                height       : 1.875rem;
                width        : 6.25rem;
                background   : transparent;
                border       : 1px solid white;
                color        : white;
                border-radius: 1.25rem;
                outline      : none;

                &:hover {
                    border: 1px solid $blueGrotto;
                    color : $blueGrotto;
                }
            }
        }
    }

    &-nav {
        width          : 70%;
        margin         : 1rem auto;
        display        : flex;
        justify-content: space-between;
        border-bottom  : 1px dashed $border;
        padding        : 0 5rem;

        >button {
            border   : none;
            font-size: 1rem;
            color    : $navyBlue;
        }
    }

    &-dialog {
        .container {
            height          : 100vh;
            width           : 100vw;
            background-color: rgba(0, 0, 0, .8);
            ;
            position: absolute;
            top     : 0;

            .dialog {
                top      : -400px;
                animation: drop 0.5s ease forwards;

                position      : relative;
                margin        : 6.25rem auto;
                left          : -(210rem/16);
                width         : 32rem;
                height        : 12rem;
                border        : 1px solid $border;
                padding       : 1rem;
                display       : flex;
                flex-direction: column;
                box-shadow    : 0 2px 5px rgba(0, 0, 0, 0.2);
                border-radius : 0.5rem;
                background    : white;

                &__button-container {
                    width          : 100%;
                    display        : flex;
                    justify-content: flex-end;

                    >button {
                        border     : none;
                        outline    : none;
                        cursor     : pointer;
                        display    : flex;
                        align-items: center;
                        background : none;

                        i svg {
                            color    : $linkColor;
                            font-size: 1.5rem;
                        }
                    }
                }

                h3 {
                    color: $blueGrotto;
                }

                .confirm {
                    width        : 6rem;
                    height       : 2rem;
                    color        : $blue;
                    border       : 1px solid $blue;
                    border-radius: 0.5rem;
                    outline      : none;
                    cursor       : pointer;
                    margin       : 1rem 0;
                    font-size    : 1rem;
                }

                @keyframes drop {
                    0% {
                        opacity: 0
                    }

                    70% {
                        transform: translateY(450px)
                    }

                    100% {
                        transform: translateY(400px);
                        opacity  : 1
                    }
                }

                .success,
                .loading {
                    width  : 80%;
                    display: flex;
                    margin : 1rem auto;

                    i svg {
                        color    : green;
                        font-size: 2rem;
                    }

                    h1 {
                        margin-left: 1rem;
                    }
                }

                .loading {
                    .dotting {
                        display   : inline-block;
                        min-width : 4px;
                        min-height: 4px;
                        animation : dot 1s infinite step-start both;
                    }

                    i svg {
                        color    : green;
                        font-size: 2rem;
                        animation: spin 1s linear infinite;
                    }
                }

                @keyframes spin {
                    from {
                        transform: rotate(0deg);
                    }

                    to {
                        transform: rotate(360deg);
                    }
                }

                @keyframes dot {
                    20% {
                        box-shadow: none;
                    }
                    40% {
                        box-shadow: 6px 0 currentColor;
                    }
                    60% {
                        box-shadow: 6px 0 currentColor, 12px 0 currentColor;
                    }
                    80% {
                        box-shadow: 6px 0 currentColor, 12px 0 currentColor,18px 0 currentColor;
                    }
                }
                .failure{
                    padding:1rem;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    p{
                        font-size: 1.5rem;
                    }
                    svg{
                        margin:0.25rem 1rem;
                        font-size: 1.5rem;
                        color:orange;
                    }
                }
            }
        }


    }

    .overview {
        display        : flex;
        justify-content: space-between;
        width          : 80%;
        margin         : 1rem auto;

        &__card {
            width         : 25%;
            border-left   : 1px dashed $border;
            display       : flex;
            flex-direction: column;
            align-items   : center;
            text-align    : center;
            padding       : 0 1rem;

            &:first-child {
                border: none
            }

            i svg {
                font-size: 3.25rem;
                color    : $blueGrotto;
            }

            h3 {
                font-size  : 1rem;
                margin     : 1rem 0;
                font-weight: bold;
            }

            h6 {
                color: $border;
            }

            .--black {
                color      : black;
                line-height: 1.75;
            }
        }
    }

    .syllabus {
        display        : flex;
        flex-direction : column;
        justify-content: space-between;
        width          : 80%;
        margin         : 1rem auto;

        >button {
            height         : 3.5rem;
            width          : 100%;
            border         : 2px solid $navyBlue;
            border-radius  : 0.5rem;
            display        : flex;
            padding        : 0 1rem;
            justify-content: space-between;
            color          : $navyBlue;
            outline        : none;
            margin         : 1rem 0;

            i svg {
                color: $navyBlue;
            }

            &:hover {
                border: 2px solid $blueGrotto;
                color : $blueGrotto;

                i svg {
                    color: $blueGrotto;
                }
            }
        }

        .skills {
            display   : flex;
            flex-wrap : wrap;
            width     : 100%;
            height    : 200px;
            position  : relative;
            margin    : 1rem;
            overflow  : hidden;
            transition: 0.2s ease-out;

            &--hide {
                height    : 0px;
                list-style: none;
                transition: 0.2s ease-out;
            }

            li {
                display: block;
                height : 60px;
                width  : 60px;
                margin : 0.25rem 1rem;
            }

            & :nth-child(1) {
                background     : url(../../icons/html.png);
                background-size: cover;
            }

            & :nth-child(2) {
                background     : url(../../icons/javascript.png);
                background-size: cover;
            }

            & :nth-child(3) {
                background     : url(../../icons/css.png);
                background-size: cover;
            }

            & :nth-child(4) {
                background     : url(../../icons/sass.png);
                background-size: cover;
            }

            & :nth-child(5) {
                background     : url(../../icons/flexbox.png);
                background-size: cover;
            }

            & :nth-child(6) {
                background     : url(../../icons/bootstrap.png);
                background-size: cover;
            }

            & :nth-child(7) {
                background     : url(../../icons/es6.png);
                background-size: cover;
            }

            & :nth-child(8) {
                background     : url(../../icons/ts.png);
                background-size: cover;
            }

            & :nth-child(9) {
                background     : url(../../icons/react.png);
                background-size: cover;
            }

            & :nth-child(10) {
                background     : url(../../icons/redux.png);
                background-size: cover;
            }

            & :nth-child(11) {
                background     : url(../../icons/redux-saga.png);
                background-size: cover;
            }

            & :nth-child(12) {
                background     : url(../../icons/database-theory.png);
                background-size: cover;
            }
        }

        .course-content,
        .course-content--hide {
            display        : flex;
            justify-content: space-between;
            padding        : 1rem;
            height         : 13rem;
            transition     : 0.2s ease-out;

            .card {
                height    : 12.5rem;
                width     : 48%;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                padding   : 1rem;

                &__title {
                    display        : flex;
                    justify-content: space-between;
                    color          : $blueGrotto;
                    font-size      : 0.8rem;
                    margin-bottom  : 1rem;
                }

                &__download {
                    height    : 2rem;
                    width     : 100%;
                    margin-top: 0.5rem;
                    text-align: left;
                    border    : none;
                    border-top: 1px dashed $navyBlue;
                    color     : $border;

                    &:hover {
                        color: $blueGrotto;
                    }
                }
            }
        }

        .course-content--hide {
            height    : 0px;
            transition: 0.2s ease-out;

            .card {
                opacity: 0;
                height : 0px;
            }
        }
    }

    .time {
        white-space: nowrap;
        overflow-x : hidden;
        width      : 80%;
        margin     : 0 auto;

        ol {
            font-size : 0;
            padding   : 7rem 0;
            transition: all 1s;
            height    : 100px;

            li {
                position       : relative;
                display        : inline-block;
                list-style-type: none;
                width          : 160px;
                height         : 3px;
                background     : #fff;
                background     : $navyBlue;

                div {
                    position   : absolute;
                    left       : calc(100% + 7px);
                    width      : 12rem;
                    padding    : 15px;
                    font-size  : 1rem;
                    white-space: normal;
                    color      : black;
                    background : white;
                    box-shadow : 0 2px 5px rgba(0, 0, 0, 0.3);

                    &::before {
                        content     : '';
                        position    : absolute;
                        top         : 100%;
                        left        : 0;
                        width       : 0;
                        height      : 0;
                        border-style: solid;
                    }

                }
            }

            li:last-child {
                width: 280px;
            }

            li:not(:first-child) {
                margin-left: 14px;
            }

            li:not(:last-child)::after {
                content      : '';
                position     : absolute;
                top          : 50%;
                left         : calc(100% + 1px);
                bottom       : 0;
                width        : 12px;
                height       : 12px;
                transform    : translateY(-50%);
                border-radius: 50%;
                background   : $blueGrotto;
            }

            li:nth-child(odd) div {
                top      : -16px;
                transform: translateY(-100%);

                &::before {
                    top         : 100%;
                    border-width: 8px 8px 0 0;
                    border-color: white transparent transparent transparent;
                }
            }

            li:nth-child(even) div {
                top: calc(100% + 16px);

                &::before {
                    top         : -8px;
                    border-width: 8px 0 0 8px;
                    border-color: transparent transparent transparent white;
                }
            }
        }
    }

    .teacher {
        width  : 80%;
        margin : 0 auto 10rem;
        display: flex;

        &-card {
            display         : flex;
            flex-direction  : column;
            align-items     : center;
            border-top      : 1px solid $navyBlue;
            height          : 24rem;
            width           : 16rem;
            text-align      : center;
            position        : relative;
            background-color: #fff;
            margin          : 100px auto 0;
            box-shadow      : 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
            border-radius   : 5px;

            &__avatar {
                width          : 97px;
                height         : 97px;
                border         : 1.5px dashed $navyBlue;
                border-radius  : 50%;
                overflow       : hidden;
                background     : white;
                display        : flex;
                align-items    : center;
                justify-content: center;
                margin         : 0 auto;
                position       : relative;
                top            : -50px;

                img {
                    height       : 85px;
                    width        : 85px;
                    border-radius: 50%;
                }
            }

            &__name {
                margin-top: -20px;
                color     : $navyBlue;
                font-size : 18px;
            }

            &__title {
                margin-top: 5px;
                color     : rgba(0, 0, 0, 0.85);
                font-size : 14px;
            }

            &__bio {
                height     : 85px;
                width      : 200px;
                margin     : 15px auto 0 auto;
                line-height: 1.29;
                font-size  : 14px;
                font-weight: 300;
                text-align : justify;
                display    : inline-block;
                color      : rgba(0, 0, 0, 0.5);
            }

            &__company {
                width : 100%;
                margin: 1rem;

                ol {
                    display        : flex;
                    width          : 100%;
                    justify-content: space-around;
                }

                li {
                    height    : 1.5rem;
                    width     : 3.5rem;
                    list-style: none;

                    &:nth-child(1) {
                        background     : url(../../icons/alibaba.png);
                        background-size: 100% 100%;
                    }

                    &:nth-child(2) {
                        background     : url(../../icons/qinghua.png);
                        background-size: 100% 100%;
                        ;
                    }
                }
            }

            &__tag {
                width : 90%;
                margin: 1rem;

                ol {
                    display        : flex;
                    width          : 100%;
                    justify-content: space-around;

                    li {
                        list-style: none;
                        color     : $blueGrotto;
                    }
                }
            }
        }
    }
}