@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: 1px solid #C7CDD1;
  padding: 1rem 0;
}

.footer__container {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 14rem;
}

.footer__container a {
  color: #2D3B45;
  margin: 0 1.5rem;
  text-decoration: none;
}

.footer__container a:hover {
  text-decoration: underline;
  color: #98002E;
}

.courseIntro {
  margin-left: 13.2rem;
}

.courseIntro-title {
  display: block;
  text-align: center;
  font-size: 1.875rem;
  color: rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  width: 100%;
  margin: 4rem 0 0 1rem;
}

.courseIntro-title h4 {
  color: #2D3B45;
  font-size: 1.5rem;
  position: relative;
  top: -1.25rem;
}

.courseIntro-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #C7CDD1;
  padding: 0 1rem;
}

.courseIntro-header a {
  text-decoration: none;
}

.courseIntro-header a:hover {
  color: #98002E;
  text-decoration: underline;
}

.courseIntro-header h4,
.courseIntro-header a,
.courseIntro-header span {
  display: inline-block;
  font-size: 0.875rem;
  color: #2D3B45;
  margin: 1.5rem 0.25rem;
}

.courseIntro-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  padding: 2rem;
  margin: 0 auto;
}

.courseIntro-overview__left {
  height: 16rem;
  width: 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  background: url(../Emrollment/course-sample.jpg) rgba(0, 71, 171, 0.3);
  background-size: cover;
  background-blend-mode: multiply;
}

.courseIntro-overview__left h1 {
  font-size: 2.5rem;
  color: white;
}

.courseIntro-overview__left h3 {
  font-size: 1rem;
  color: white;
}

.courseIntro-overview__left button {
  height: 1.875rem;
  width: 6.25rem;
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 1.25rem;
  outline: none;
}

.courseIntro-overview__left button:hover {
  border: 1px solid #0E86D4;
  color: #0E86D4;
}

.courseIntro-nav {
  width: 70%;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px dashed #C7CDD1;
  padding: 0 5rem;
}

.courseIntro-nav > button {
  border: none;
  font-size: 1rem;
  color: #003060;
}

.courseIntro .overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 1rem auto;
}

.courseIntro .overview__card {
  width: 25%;
  border-left: 1px dashed #C7CDD1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 1rem;
}

.courseIntro .overview__card:first-child {
  border: none;
}

.courseIntro .overview__card i svg {
  font-size: 3.25rem;
  color: #0E86D4;
}

.courseIntro .overview__card h3 {
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: bold;
}

.courseIntro .overview__card h6 {
  color: #C7CDD1;
}

.courseIntro .overview__card .--black {
  color: black;
  line-height: 1.75;
}

.courseIntro .syllabus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 1rem auto;
}

.courseIntro .syllabus > button {
  height: 3.5rem;
  width: 100%;
  border: 2px solid #003060;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #003060;
  outline: none;
  margin: 1rem 0;
}

.courseIntro .syllabus > button i svg {
  color: #003060;
}

.courseIntro .syllabus > button:hover {
  border: 2px solid #0E86D4;
  color: #0E86D4;
}

.courseIntro .syllabus > button:hover i svg {
  color: #0E86D4;
}

.courseIntro .syllabus .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 200px;
  position: relative;
  margin: 1rem;
  overflow: hidden;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.courseIntro .syllabus .skills--hide {
  height: 0px;
  list-style: none;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.courseIntro .syllabus .skills li {
  display: block;
  height: 60px;
  width: 60px;
  margin: 0.25rem 1rem;
}

.courseIntro .syllabus .skills :nth-child(1) {
  background: url(../../icons/html.png);
  background-size: cover;
}

.courseIntro .syllabus .skills :nth-child(2) {
  background: url(../../icons/javascript.png);
  background-size: cover;
}

.courseIntro .syllabus .skills :nth-child(3) {
  background: url(../../icons/css.png);
  background-size: cover;
}

.courseIntro .syllabus .skills :nth-child(4) {
  background: url(../../icons/sass.png);
  background-size: cover;
}

.courseIntro .syllabus .skills :nth-child(5) {
  background: url(../../icons/flexbox.png);
  background-size: cover;
}

.courseIntro .syllabus .skills :nth-child(6) {
  background: url(../../icons/bootstrap.png);
  background-size: cover;
}

.courseIntro .syllabus .skills :nth-child(7) {
  background: url(../../icons/es6.png);
  background-size: cover;
}

.courseIntro .syllabus .skills :nth-child(8) {
  background: url(../../icons/ts.png);
  background-size: cover;
}

.courseIntro .syllabus .skills :nth-child(9) {
  background: url(../../icons/react.png);
  background-size: cover;
}

.courseIntro .syllabus .skills :nth-child(10) {
  background: url(../../icons/redux.png);
  background-size: cover;
}

.courseIntro .syllabus .skills :nth-child(11) {
  background: url(../../icons/redux-saga.png);
  background-size: cover;
}

.courseIntro .syllabus .skills :nth-child(12) {
  background: url(../../icons/database-theory.png);
  background-size: cover;
}

.courseIntro .syllabus .course-content,
.courseIntro .syllabus .course-content--hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  height: 13rem;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.courseIntro .syllabus .course-content .card,
.courseIntro .syllabus .course-content--hide .card {
  height: 12.5rem;
  width: 48%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.courseIntro .syllabus .course-content .card__title,
.courseIntro .syllabus .course-content--hide .card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #0E86D4;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.courseIntro .syllabus .course-content .card__download,
.courseIntro .syllabus .course-content--hide .card__download {
  height: 2rem;
  width: 100%;
  margin-top: 0.5rem;
  text-align: left;
  border: none;
  border-top: 1px dashed #003060;
  color: #C7CDD1;
}

.courseIntro .syllabus .course-content .card__download:hover,
.courseIntro .syllabus .course-content--hide .card__download:hover {
  color: #0E86D4;
}

.courseIntro .syllabus .course-content--hide {
  height: 0px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.courseIntro .syllabus .course-content--hide .card {
  opacity: 0;
  height: 0px;
}

.courseIntro .time {
  white-space: nowrap;
  overflow-x: hidden;
  width: 80%;
  margin: 0 auto;
}

.courseIntro .time ol {
  font-size: 0;
  padding: 7rem 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 100px;
}

.courseIntro .time ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #fff;
  background: #003060;
}

.courseIntro .time ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 12rem;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.courseIntro .time ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.courseIntro .time ol li:last-child {
  width: 280px;
}

.courseIntro .time ol li:not(:first-child) {
  margin-left: 14px;
}

.courseIntro .time ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background: #0E86D4;
}

.courseIntro .time ol li:nth-child(odd) div {
  top: -16px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.courseIntro .time ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.courseIntro .time ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.courseIntro .time ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.courseIntro .teacher {
  width: 80%;
  margin: 0 auto 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.courseIntro .teacher-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #003060;
  height: 24rem;
  width: 16rem;
  text-align: center;
  position: relative;
  background-color: #fff;
  margin: 100px auto 0;
  -webkit-box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
          box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 5px;
}

.courseIntro .teacher-card__avatar {
  width: 97px;
  height: 97px;
  border: 1.5px dashed #003060;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  top: -50px;
}

.courseIntro .teacher-card__avatar img {
  height: 85px;
  width: 85px;
  border-radius: 50%;
}

.courseIntro .teacher-card__name {
  margin-top: -20px;
  color: #003060;
  font-size: 18px;
}

.courseIntro .teacher-card__title {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}

.courseIntro .teacher-card__bio {
  height: 85px;
  width: 200px;
  margin: 15px auto 0 auto;
  line-height: 1.29;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
}

.courseIntro .teacher-card__company {
  width: 100%;
  margin: 1rem;
}

.courseIntro .teacher-card__company ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.courseIntro .teacher-card__company li {
  height: 1.5rem;
  width: 3.5rem;
  list-style: none;
}

.courseIntro .teacher-card__company li:nth-child(1) {
  background: url(../../icons/alibaba.png);
  background-size: 100% 100%;
}

.courseIntro .teacher-card__company li:nth-child(2) {
  background: url(../../icons/qinghua.png);
  background-size: 100% 100%;
}

.courseIntro .teacher-card__tag {
  width: 90%;
  margin: 1rem;
}

.courseIntro .teacher-card__tag ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.courseIntro .teacher-card__tag ol li {
  list-style: none;
  color: #0E86D4;
}
/*# sourceMappingURL=CourseIntro.css.map */