.useritems{
    height: 100%;
    width: 100%;
    margin-left: 210px;
    .container{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 850px;
        overflow: hidden;
        // background: url('https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=197704580,2183715727&fm=26&gp=0.jpg');
        background-size: 100%;
        display:flex;


    }
    
    .welcome{
        display:none;
        padding: 0;
        margin: 0;
        height: 50px;
        background-color:rgba(255, 255, 255, 0.938);
        font-size: 1.5rem;
        line-height: 50px;
        text-indent: 2rem;
    }
    .left_col{  
        overflow: auto;
        box-sizing: border-box;
        width:20%;
        height:100%;
        display: flex;
        position: relative;
        .portrait_box{
            position: relative;
            top:50px;
            margin-left: auto;
            margin-right: auto;
            .portrait{
                height: 160px;
                // width: 160px;
                background-color:white;
                font-size: 1rem;

            }
            button{
                margin-top:0.5rem;
                border:1px solid;
                // background: linear-gradient();
                background-color: whitesmoke;
                color:#2D3B45;
                border-radius: 3px;
                font-size:0.8rem;
            }
            button:hover{
                box-shadow:1px 1px grey;
            }
            a{  
                font-size: 18px;
                padding:0;
                margin-left:40px;
            }
        }
    
    }
    
    a{
        color: black;
        padding-left: 4rem;
    }
    .right-col{
        width:70%;
    .basic_info{       
        margin-top:2rem;
        margin-right:30%;
        width: 60%;
        height: 390px;
        background-color: #fff;
        float: right;
        // background-image: url('https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=197704580,2183715727&fm=26&gp=0.jpg');
        background-size: 100%;
        label{
        }
        .input_shadow{
            input{
            border-radius: 1px;
            }
            input:hover{
                box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
            }
        }
        .col{
            float:left;
        }
        .gender{
            margin-bottom: 1000px;
            button{
                margin-top:0rem;
                border:1px solid;
                background-color: orange;
                color:white;
                border-radius: 3px;
                font-size:0.7rem;
                font-weight: 800;
            }
            button:hover{
                box-shadow:1px 1px grey;
            }
        }
    }
    .account_info{
        margin-top: 5rem;
        margin-right:30%;
        width: 60%;
        height: 320px;
        background-color: #fff;
        float: right;
        // background-image: url('https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=197704580,2183715727&fm=26&gp=0.jpg');
        background-size: 100%;
    }
    }
    p{
        text-indent: 0.5rem;
    }
    input{
        margin: 1rem 1rem;
    }
    label{
        text-align: center;
        display:inline-block;
        width:100px;;
    }
    .basic_info button{
        float: right;
        margin-right: 2rem;
    }
    .basic_info, .account_info{
        border-radius: 3px;
    }
    .pwd{
        font-size: 1.2rem;
        margin-left: 5px;

        a{
            padding: 0;
            text-decoration: none;
        }  
    }
    .pwd:hover{
        box-shadow: 1px 1px;
    }
    
    // ChangePassword Route

    .changePassword{
        border:solid 1px;
        padding: 20px;
        margin-top:5%;
        margin-left: 15%;
        margin-right: auto;
        text-align: center;
        height: 80%;
        label {
            width:250px;
        }
        .passwordRule{
            border:1px solid;
        }
        .rule{
         border:1px 0 solid
        }

    }

    @media (max-width:800px){
        .changePassword{
        margin-top:10px;
        margin-left:10px;
        }
    }
    @media (max-height:800px){
        .changePassword{
        margin-top:10px;
        margin-left:10px;
        height:550px;
        }
    }

    };

    //Text-Style
    vl{
        border-left: 1px solid #ccc;
        height: 100%;
      }
    

    hr{
        display: block;
        height: 1px;
        border: 0;
        border-bottom: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
        }

    .bold{
        font-weight: 800;
        color:#13294b
    }


    
  
@media (max-width: 1252px)  {   //smaller version css
    .useritems{
        
        .right-col{
            width:70%;
        .basic_info{       
            background-size: 100%;

            label{
                text-align: left;
            }
            input{
                width:60%;
                margin:8px;
            }
        }

       
        }
  }
}

@media (max-width:840px){  //if width is too tight, hide the portrait
    .useritems{
        .portrait_box{
            display:none;
        }
    }
}
@media (min-height:790px){  //if long enough, fixed content, if not then it can be scrolled
    .useritems{
        position: fixed;
        margin-top: 88px;
        border-top: 1px solid black;

    }
}