.useritems {
  height: 100%;
  width: 100%;
  margin-left: 210px;
}

.useritems .container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 850px;
  overflow: hidden;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.useritems .welcome {
  display: none;
  padding: 0;
  margin: 0;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.938);
  font-size: 1.5rem;
  line-height: 50px;
  text-indent: 2rem;
}

.useritems .left_col {
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.useritems .left_col .portrait_box {
  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.useritems .left_col .portrait_box .portrait {
  height: 160px;
  background-color: white;
  font-size: 1rem;
}

.useritems .left_col .portrait_box button {
  margin-top: 0.5rem;
  border: 1px solid;
  background-color: whitesmoke;
  color: #2D3B45;
  border-radius: 3px;
  font-size: 0.8rem;
  -webkit-box-shadow: 1px 1px grey;
          box-shadow: 1px 1px grey;
}

.useritems .left_col .portrait_box a {
  font-size: 18px;
  padding: 0;
  margin-left: 40px;
}

.useritems a {
  color: black;
  padding-left: 4rem;
}

.useritems .right-col {
  width: 70%;
}

.useritems .right-col .basic_info {
  margin-top: 2rem;
  margin-right: 30%;
  width: 60%;
  height: 390px;
  background-color: #fff;
  float: right;
  background-size: 100%;
}

.useritems .right-col .basic_info .col {
  float: left;
}

.useritems .right-col .basic_info .gender {
  margin-bottom: 1000px;
}

.useritems .right-col .basic_info .gender button {
  margin-top: 0rem;
  border: 1px solid;
  background-color: whitesmoke;
  color: #2D3B45;
  border-radius: 3px;
  font-size: 0.7rem;
  -webkit-box-shadow: 1px 1px grey;
          box-shadow: 1px 1px grey;
}

.useritems .right-col .account_info {
  margin-top: 5rem;
  margin-right: 30%;
  width: 60%;
  height: 320px;
  background-color: #fff;
  float: right;
  background-size: 100%;
}

.useritems p {
  text-indent: 0.5rem;
}

.useritems input {
  margin: 1rem 1rem;
}

.useritems label {
  text-align: center;
  display: inline-block;
  width: 100px;
}

.useritems .basic_info button {
  float: right;
  margin-right: 2rem;
}

.useritems .basic_info, .useritems .account_info {
  border-radius: 3px;
}

.useritems .pwd {
  font-size: 1.2rem;
}

.useritems .pwd a {
  padding: 0;
  text-decoration: none;
}

.useritems .changePassword {
  border: solid 1px;
  padding: 20px;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: auto;
  text-align: center;
  height: 80%;
}

.useritems .changePassword label {
  width: 250px;
}

.useritems .changePassword .passwordRule {
  border: 1px solid;
}

.useritems .changePassword .rule {
  border: 1px 0 solid;
}

@media (max-width: 800px) {
  .useritems .changePassword {
    margin-top: 10px;
    margin-left: 10px;
  }
}

@media (max-height: 800px) {
  .useritems .changePassword {
    margin-top: 10px;
    margin-left: 10px;
    height: 550px;
  }
}

vl {
  border-left: 1px solid #ccc;
  height: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.bold {
  font-weight: 800;
  color: #13294b;
}

@media (max-width: 1252px) {
  .useritems .right-col {
    width: 70%;
  }
  .useritems .right-col .basic_info {
    background-size: 100%;
  }
  .useritems .right-col .basic_info label {
    text-align: left;
  }
  .useritems .right-col .basic_info input {
    width: 60%;
    margin: 8px;
  }
}

@media (max-width: 840px) {
  .useritems .portrait_box {
    display: none;
  }
}

@media (min-height: 790px) {
  .useritems {
    position: fixed;
    margin-top: 88px;
    border-top: 1px solid black;
  }
}
/*# sourceMappingURL=useritems.css.map */