@import '../../../common/commonScss.scss';

.teacher-mark{
    width: 100%;
    padding:1rem;
    border : 1px solid $border;
    .student-list{
        display: flex;
        width: 100%;
        border:1px dashed $border;
        justify-content: space-between;
        padding:1rem;
        align-items: center;
        h1{
            font-size: 1rem;
        }
        .left{
            display: flex;
            h1{
                margin-right: 1rem;
            }
        }
    }
}