* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.primaryNav {
  position: fixed;
  width: 210px;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #003060;
}

.primaryNav__top {
  height: 8%;
}

.primaryNav__top form {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.primaryNav__top form input {
  height: 30px;
  width: 155px;
  font-size: 1.2rem;
  text-align: left;
  background: none;
  border: none;
  outline: none;
  color: whitesmoke;
}

.primaryNav__top form button {
  height: 36px;
  width: 36px;
  background: none;
  border: none;
  margin-right: 20px;
}

.primaryNav__main {
  height: 84%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primaryNav__main__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.primaryNav__main__left ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #003060;
}

.primaryNav__main__left ul li {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.primaryNav__main__left ul li :hover {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  background-color: #055C9D;
}

.primaryNav__main__left ul li button {
  background: none;
  border: none;
  height: 100%;
  width: 100%;
  text-align: center;
  outline: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.primaryNav__main__left ul li button h2:first-child {
  font-size: 20px;
  margin: 10px 10px;
  padding: 0;
  height: 30px;
  width: 30px;
}

.primaryNav__main__left ul li button h2:last-child {
  font-size: 14px;
  color: white;
  margin-left: 15px;
}

.primaryNav__main__left ul:first-child {
  padding: 0px;
  width: 100%;
}

.primaryNav__main__left ul:first-child li:last-child {
  width: 100%;
  border-top: 1px solid whitesmoke;
}

.primaryNav__main__left ul:first-child li:first-child {
  padding-top: 0px;
}

.primaryNav__main__left ul:last-child {
  padding: 0px;
  width: 100%;
}

.primaryNav__main__left ul:last-child li:first-child {
  width: 100%;
  border-top: 1px solid whitesmoke;
}

.primaryNav__main__left ul:last-child li:last-child {
  padding-bottom: 0px;
}

.primaryNav__main__right {
  width: 160px;
  height: 100%;
  display: none;
}

.primaryNav__main-right-active .primaryNav__main__right {
  display: inline;
  background: #055C9D;
  -webkit-transition: right linear .3s;
  transition: right linear .3s;
}

.primaryNav__main-right-active .primaryNav__main__left {
  width: 50px;
}

.primaryNav__main-right-active .primaryNav__main__left ul li button h2:last-child {
  display: none;
}

.primaryNav__main-right-active .primaryNav__main__left ul li button {
  padding: 0;
}

.primaryNav__main-right-active .primaryNav__main__left ul li button h2 {
  width: 100%;
}

.primaryNav__main-right-active .primaryNav__main__left ul li .high-light {
  background: #055C9D;
}

.primaryNav__bot {
  height: 8%;
  background-color: #003D7A;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primaryNav__bot__photo {
  height: 40px;
  width: 40px;
  background-color: gray;
  border-radius: 50%;
}

.primaryNav__bot h3 {
  color: whitesmoke;
  margin: 0 10px;
  text-align: center;
}

.primaryNav .show-Dashboard .primaryNav__main__left ul li #Dashboard {
  background-color: #055C9D;
}

.primaryNav .show-Users .primaryNav__main__left ul li #Users {
  background-color: #055C9D;
}

.primaryNav .show-Site .primaryNav__main__left ul li #Site {
  background-color: #055C9D;
}

.primaryNav .show-Sales .primaryNav__main__left ul li #Sales {
  background-color: #055C9D;
}

.primaryNav .show-Emails .primaryNav__main__left ul li #Emails {
  background-color: #055C9D;
}

.primaryNav .show-Plan .primaryNav__main__left ul li #Plan {
  background-color: #055C9D;
}

.primaryNav .show-Help .primaryNav__main__left ul li #Dashboard {
  background-color: #055C9D;
}

.primaryNav .show-Setting .primaryNav__main__left ul li #Setting {
  background-color: #055C9D;
}
/*# sourceMappingURL=PrimaryNav.css.map */