@import '../../../common/commonScss.scss';

.profile {
    height     : 100%;
    margin-left: (210rem/16);
    display    : flex;

    //LEFT
    &__avatarContainer {
        height        : 100vh;
        width         : 20rem;
        padding       : 5rem 5rem;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        text-align    : center;
        border-right  : 1px solid $border;

        .avatar {
            height: 11rem;
            width : 11rem;

            svg {
                font-size: 11rem;
            }
        }

        .edit {
            border-radius  : 0.5rem;
            height         : 2.5rem;
            width          : 7rem;
            margin         : 2rem 0;
            display        : flex;
            justify-content: center;
            background     : $darkBlue;
            color          : whitesmoke;
            font-size      : 1rem;
            outline        : none;

            svg {
                color: whitesmoke;
            }

            & :hover {
                background: $blueGrotto;
            }
        }

        .edit:hover {
            background: $blueGrotto;
        }
    }

    //RIGHT
    &__mainContainer {
        margin: 1rem;
        width : 40vw;

        .main {
            width        : 100%;
            border-bottom: 1px solid $border;

            &__header {
                padding: 1rem;

                h1 {
                    font-size  : 2rem;
                    color      : $fontColorMain;
                    font-weight: bold;
                }

                border-bottom: 1px solid $border;
            }

            &__body {
                padding: 1rem;
                display: flex;

                &__left {
                    width  : 50%;
                    padding: 0 0.25rem;

                    .item {
                        height  : 3.5rem;
                        width   : 100%;
                        margin  : 1rem 0;
                        position: relative;
                        overflow: hidden;

                        &__label {
                            display        : flex;
                            justify-content: flex-start;
                            height         : 100%;
                            width          : 100%;
                            position       : absolute;
                            bottom         : 0;
                            pointer-events : none;
                            border-bottom  : 1px solid $border;

                            h2 {
                                font-size: 1.2rem;

                                &:last-child {
                                    margin-left: 0.875rem;
                                }
                            }

                            &::after {
                                content      : "";
                                height       : 100%;
                                width        : 100%;
                                border-bottom: 3px solid $blueGrotto;
                                position     : absolute;
                                bottom       : -1px;
                                transform    : translateX(-100%);
                                transition   : transform 0.3s ease;
                            }
                        }

                        input {
                            width      : 100%;
                            height     : 100%;
                            padding-top: 20px;
                            outline    : none;
                            border     : none;
                            background : #fafafa;
                            color      : $blueGrotto;
                        }

                        input:focus+.item__label::after {
                            transform: translateX(0%);
                        }
                    }

                }

                &__item {
                    height: 3.5rem;
                    width : 90%;
                    margin: 1.25rem;
                    position: relative;
                    overflow: hidden;

                    .item__label {
                        display        : flex;
                        justify-content: flex-start;
                        height         : 100%;
                        width          : 100%;
                        position       : absolute;
                        bottom         : 0;
                        pointer-events : none;
                        border-bottom  : 1px solid $border;

                        h2 {
                            font-size: 1.2rem;

                            &:last-child {
                                margin-left: 0.875rem;
                            }
                        }

                        &::after {
                            content      : "";
                            height       : 100%;
                            width        : 100%;
                            border-bottom: 3px solid $blueGrotto;
                            position     : absolute;
                            bottom       : -1px;
                            transform    : translateX(-100%);
                            transition   : transform 0.3s ease;
                        }
                    }

                    input {
                        width      : 100%;
                        height     : 100%;
                        padding-top: 20px;
                        outline    : none;
                        border     : none;
                        background : #fafafa;
                        color      : $blueGrotto;
                    }

                    input:focus+.item__label::after {
                        transform: translateX(0%);
                    }
                }

                &__setButton {
                    width      : 100%;
                    display    : flex;
                    margin-left: 1rem;

                    button {
                        border-radius  : 0.5rem;
                        height         : 2.5rem;
                        width          : 7rem;
                        margin         : 2rem 0;
                        display        : flex;
                        justify-content: center;
                        background     : $darkBlue;
                        color          : whitesmoke;
                        font-size      : 1rem;
                        outline        : none;
                        opacity        : 1;
                        transition     : all 0.3s;
                    }

                    .--inactive {
                        opacity   : 0;
                        visibility: hidden;
                    }
                }
            }
        }
    }

    &__courseContainer {
        margin     : 1rem 0 0 4rem;
        align-items: center;

        h2 {
            font-size : 1.2rem;
            margin-top: 2rem;
            color     : $fontColorMain;

            >span {
                color: $linkColor;
            }
        }

        ul {
            border-top   : 1px dashed $border;
            border-bottom: 1px dashed $border;
            margin       : 1rem 0;

            li {
                list-style: none;
                margin    : 0.5rem;
                font-size : 0.875rem;
                color     : $blueGrotto;
            }
        }

        button {
            border-radius  : 0.5rem;
            height         : 2.5rem;
            width          : 12rem;
            margin         : 2rem 0;
            display        : flex;
            justify-content: center;
            background     : $darkBlue;
            color          : whitesmoke;
            font-size      : 1rem;
            outline        : none;
        }
    }
}