@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: 1px solid #C7CDD1;
  padding: 1rem 0;
}

.footer__container {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 14rem;
}

.footer__container a {
  color: #2D3B45;
  margin: 0 1.5rem;
  text-decoration: none;
}

.footer__container a:hover {
  text-decoration: underline;
  color: #98002E;
}

.profile {
  height: 100%;
  margin-left: 13.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__avatarContainer {
  height: 100vh;
  width: 20rem;
  padding: 5rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-right: 1px solid #C7CDD1;
}

.profile__avatarContainer label {
  position: relative;
  z-index: -1;
}

.profile__avatarContainer label input {
  position: absolute;
  opacity: 0;
  height: 7rem;
  width: 7rem;
  left: 0;
}

.profile__avatarContainer label .avatar {
  height: 7rem;
  width: 7rem;
  border: 1px solid #C7CDD1;
  border-radius: 50%;
  overflow: hidden;
}

.profile__avatarContainer label .avatar svg {
  height: 100%;
  width: 100%;
}

.profile__avatarContainer label .avatar img {
  height: 100%;
  width: 100%;
}

.profile__avatarContainer label:hover .avatar {
  border: 1px solid #0E86D4;
}

.profile__avatarContainer .edit {
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 7rem;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #003D7A;
  color: whitesmoke;
  font-size: 1rem;
  outline: none;
}

.profile__avatarContainer .edit svg {
  color: whitesmoke;
}

.profile__avatarContainer .edit :hover {
  background: #0E86D4;
}

.profile__avatarContainer .edit:hover {
  background: #0E86D4;
}

.profile__mainContainer {
  margin: 1rem;
  width: 40vw;
}

.profile__mainContainer .main {
  width: 100%;
  border-bottom: 1px solid #C7CDD1;
}

.profile__mainContainer .main__header {
  padding: 1rem;
  border-bottom: 1px solid #C7CDD1;
}

.profile__mainContainer .main__header h1 {
  font-size: 2rem;
  color: #13294b;
  font-weight: bold;
}

.profile__mainContainer .main__body {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__mainContainer .main__body__left {
  width: 50%;
  padding: 0 0.25rem;
}

.profile__mainContainer .main__body__left .item {
  height: 3.5rem;
  width: 100%;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.profile__mainContainer .main__body__left .item__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  pointer-events: none;
  border-bottom: 1px solid #C7CDD1;
}

.profile__mainContainer .main__body__left .item__label h2 {
  font-size: 1.2rem;
}

.profile__mainContainer .main__body__left .item__label h2:last-child {
  margin-left: 0.875rem;
}

.profile__mainContainer .main__body__left .item__label::after {
  content: "";
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #0E86D4;
  position: absolute;
  bottom: -1px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.profile__mainContainer .main__body__left .item input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  outline: none;
  border: none;
  background: #fafafa;
  color: #0E86D4;
}

.profile__mainContainer .main__body__left .item input:focus + .item__label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.profile__mainContainer .main__body__item {
  height: 3.5rem;
  width: 90%;
  margin: 1.25rem;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.profile__mainContainer .main__body__item .item__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  pointer-events: none;
  border-bottom: 1px solid #C7CDD1;
}

.profile__mainContainer .main__body__item .item__label h2 {
  font-size: 1.2rem;
}

.profile__mainContainer .main__body__item .item__label h2:last-child {
  margin-left: 0.875rem;
}

.profile__mainContainer .main__body__item .item__label::after {
  content: "";
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #0E86D4;
  position: absolute;
  bottom: -1px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.profile__mainContainer .main__body__item input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  outline: none;
  border: none;
  background: #fafafa;
  color: #0E86D4;
}

.profile__mainContainer .main__body__item input:focus + .item__label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.profile__mainContainer .main__body__setButton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
}

.profile__mainContainer .main__body__setButton button {
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 7rem;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #003D7A;
  color: whitesmoke;
  font-size: 1rem;
  outline: none;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.profile__mainContainer .main__body__setButton .--inactive {
  opacity: 0;
  visibility: hidden;
}

.profile__courseContainer {
  margin: 1rem 0 0 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__courseContainer h2 {
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #13294b;
}

.profile__courseContainer h2 > span {
  color: #98002E;
}

.profile__courseContainer ul {
  border-top: 1px dashed #C7CDD1;
  border-bottom: 1px dashed #C7CDD1;
  margin: 1rem 0;
}

.profile__courseContainer ul li {
  list-style: none;
  margin: 0.5rem;
  font-size: 0.875rem;
  color: #0E86D4;
}

.profile__courseContainer button {
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 12rem;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #003D7A;
  color: whitesmoke;
  font-size: 1rem;
  outline: none;
}
/*# sourceMappingURL=Profile.css.map */