$navyBlue:#003060;
$blue:#055C9D;
$blueGrotto:#0E86D4;
$darkBlue:#003D7A;
*{
    box-sizing: border-box;
}
.sideBar{
    position: fixed;
    width: 210px;
    height: 100%;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: $navyBlue;

    &__top {
        height: 8%;
        form{
            margin: 10px;
            display: flex;
            justify-content: space-between;
            input{
                height: 30px;
                width: 155px;
                font-size: 1.2rem;
                text-align: left;
                background: none;
                border: none;
                outline: none;
                color: whitesmoke;
            }
            button{
                height: 36px;
                width: 36px;
                background: none;
                border: none;
                margin-right: 20px;
            }
        }
    }
    &__main{
        height: 84%;
        display: flex;
        &__left{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            ul{
            list-style:none;
            padding:0;
            margin:0;
            text-align: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: $navyBlue;
                li{
                    //margin-top: 10px;
                    height: 40px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    :hover{
                        transition:background-color 0.2s linear;
                        background-color: $blue;
                    }
                    button{
                        background: none;
                        border: none;
                        height: 30px;
                        width: 100%;
                        text-align: center;
                        // margin-left: 15px;
                        outline: none;
                        padding:0 auto;
                        display: flex;
                        align-items: center;
                        justify-items: center;
                        align-items: baseline;

                        h2:first-child{
                            font-size: 20px;
                            margin: 0 10px;
                            padding: 0;
                        } 
                        h2:last-child{
                            font-size: 14px;
                            color:white;
                            margin-left: 15px;
                        }
                    }

                }
                
            }

            ul:first-child{
                padding: 0px;
                width: 100%;
                li:last-child{
                    width:100%;
                    padding-top:5px;;
                    border-top:1px solid whitesmoke;
                }
                li:first-child{
                    padding-top:0px;
                }
            }
            ul:last-child{
                padding: 0px;
                width: 100%;
                li:first-child{
                    width:100%;
                    padding-top:5px;
                    border-top:1px solid whitesmoke;
                }
                li:last-child{
                    padding-bottom: 0px;
                }
            }
        }
        &__right{
            width:160px;
            height: 100%;
            display: none;
        }
        &-right-active{
            .sideBar__main__right{
                display: inline;
                background: $blue;
            }
            .sideBar__main__left{
                width: 50px;
                ul li button h2:last-child{
                    display: none;
                }
            }
        }
    }
    
 
    &__bot{
        height: 8%;
        background-color: $darkBlue;
        padding: 10px;
        display: flex;
        &__photo{
            height: 40px;
            width: 40px;
            background-color: gray;
            border-radius: 50%;
        }
        h3{
            color: whitesmoke;
            margin: 0 10px;
            text-align: center;
        }
    }
}

.sideBar__main .sideBar__right-active{
    .sideBar__main__right{
        display: inline;
    }
}