* {
  box-sizing: border-box;
}
.sideBar {
  position: fixed;
  width: 210px;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: #003060;
}
.sideBar__top {
  height: 8%;
}
.sideBar__top form {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.sideBar__top form input {
  height: 30px;
  width: 155px;
  font-size: 1.2rem;
  text-align: left;
  background: none;
  border: none;
  outline: none;
  color: whitesmoke;
}
.sideBar__top form button {
  height: 36px;
  width: 36px;
  background: none;
  border: none;
  margin-right: 20px;
}
.sideBar__main {
  height: 84%;
  display: flex;
}
.sideBar__main__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.sideBar__main__left ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #003060;
}
.sideBar__main__left ul li {
  height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
}
.sideBar__main__left ul li :hover {
  transition: background-color 0.2s linear;
  background-color: #055c9d;
}
.sideBar__main__left ul li button {
  background: none;
  border: none;
  height: 100%;
  width: 100%;
  text-align: center;
  outline: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  align-items: baseline;
}
.sideBar__main__left ul li button h2:first-child {
  font-size: 20px;
  margin: 10px 10px;
  padding: 0;
  height: 30px;
  width: 30px;
}
.sideBar__main__left ul li button h2:last-child {
  font-size: 14px;
  color: white;
  margin-left: 15px;
}
.sideBar__main__left ul:first-child {
  padding: 0px;
  width: 100%;
}
.sideBar__main__left ul:first-child li:last-child {
  width: 100%;
  border-top: 1px solid whitesmoke;
}
.sideBar__main__left ul:first-child li:first-child {
  padding-top: 0px;
}
.sideBar__main__left ul:last-child {
  padding: 0px;
  width: 100%;
}
.sideBar__main__left ul:last-child li:first-child {
  width: 100%;
  border-top: 1px solid whitesmoke;
}
.sideBar__main__left ul:last-child li:last-child {
  padding-bottom: 0px;
}
.sideBar__main__right {
  width: 160px;
  height: 100%;
  display: none;
}
.sideBar__main-right-active .sideBar__main__right {
  display: inline;
  background: #055c9d;
  transition: right linear 0.3s;
}
.sideBar__main-right-active .sideBar__main__left {
  width: 50px;
}
.sideBar__main-right-active .sideBar__main__left ul li button h2:last-child {
  display: none;
}
.sideBar__main-right-active .sideBar__main__left ul li button {
  padding: 0;
}
.sideBar__main-right-active .sideBar__main__left ul li button h2 {
  width: 100%;
}
.sideBar__main-right-active .sideBar__main__left ul li .high-light {
  background: #055c9d;
}
.sideBar__bot {
  height: 8%;
  background-color: #003d7a;
  padding: 10px;
  display: flex;
}
.sideBar__bot__photo {
  height: 40px;
  width: 40px;
  background-color: gray;
  border-radius: 50%;
}
.sideBar__bot h3 {
  color: whitesmoke;
  margin: 0 10px;
  text-align: center;
}
.sideBar .show-Dashboard .sideBar__main__left ul li #Dashboard {
  background-color: #055c9d;
}
.sideBar .show-Users .sideBar__main__left ul li #Users {
  background-color: #055c9d;
}
.sideBar .show-Site .sideBar__main__left ul li #Site {
  background-color: #055c9d;
}
.sideBar .show-Sales .sideBar__main__left ul li #Sales {
  background-color: #055c9d;
}
.sideBar .show-Emails .sideBar__main__left ul li #Emails {
  background-color: #055c9d;
}
.sideBar .show-Plan .sideBar__main__left ul li #Plan {
  background-color: #055c9d;
}
.sideBar .show-Help .sideBar__main__left ul li #Dashboard {
  background-color: #055c9d;
}
.sideBar .show-Setting .sideBar__main__left ul li #Setting {
  background-color: #055c9d;
}
